@model bluemarket.DTO.PromocaoDTO

@{
    Layout = "_LayoutAdmin";
}
<h2>Editar Promoção</h2>
<form class="form-horizontal" asp-controller="Promocao" asp-action="Atualizar" method="POST">

    <input type="hidden" asp-for="Id">

    <label asp-for="Nome">Nome</label>
    <input class="form-control" type="text" asp-for="Nome" placeholder="Nome da promoção">
    <span asp-validation-for="Nome"></span>
    <br>
    <label asp-for="Produto">Produtos</label>
    <select class="form-control" asp-for="Produto" asp-items='@(new SelectList(@ViewBag.Produtos,"Id", "Nome"))'>
    </select>
    <span asp-validation-for="Produto"></span>
    <br>
    <label asp-for="Porcentagem">Porcentagem</label><br>
    <input class="form-control" type="number" min="0" max="100" asp-for="Porcentagem" placeholder="10%">
    <span asp-validation-for="Porcentagem"></span>
    <br>
    <button class="btn btn-success">Atualizar</button>

</form>
