@model bluemarket.Models.Estoque

@{
    Layout = "_LayoutAdmin";
}
<h2>Editar Estoque</h2>
<form class="form-horizontal" asp-controller="Estoque" asp-action="Atualizar" method="POST">

    <input type="hidden" asp-for="Id">

    <label asp-for="Produto">Produtos</label>
    <select class="form-control" asp-for="ProdutoId" asp-items='@(new SelectList(@ViewBag.Produtos,"Id", "Nome"))'>
    </select>
    <br>
    <label asp-for="Quantidade">Quantidade</label><br>
    <input class="form-control" type="number" asp-for="Quantidade" placeholder="10">
    <br>
    <button class="btn btn-success">Atualizar</button>

</form>
