@model IEnumerable<bluemarket.Models.Estoque>
@{
    Layout = "_LayoutAdmin";
}
<h2>Novo Estoque</h2>
<a asp-action="NovoEstoque" asp-controller="Admin" class="btn btn-success">Criar novo Estoque</a>
<hr>

<script>
    $(document).ready(function () {
        $('#estoques').DataTable({
            "info": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ Registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Ultimo",
                    "next": "Proximo",
                    "previous": "Anterior"
                }
            }
        }
        );
    });
</script>

<table id="estoques" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estoque in Model)
        {
            <tr>
                <td>@estoque.Id</td>
                <td>@estoque.Produto.Nome</td>
                <td>@estoque.Quantidade</td>

                <td><a href="/Admin/EditarEstoque/@estoque.Id" class="btn btn-primary">Editar</a>
                    @* <form asp-action="Deletar" asp-controller="Estoque" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@estoque.Id">
                        <button class="btn btn-danger">Deletar</button>
                        </form> *@
                </td>
            </tr>
        }
    </tbody>
</table>